[application]
logfile             = solmanager.log
backupfile          = solmanager.backup
serialport          = /dev/ttyUSB3
tcpport             = 8080
filecommitdelay     = 60
sendperiodminutes   = 1
fileperiodminutes   = 1

[solmanager]
token               = SOLMANAGER_TOKEN
cert                = solmanager.cert
privkey             = solmanager.ppk

[solserver]
host               = localhost:8081
token               = DEFAULT_SOLSERVERTOKEN
certfile           = solserver.cert
