[program:solmanager]
directory=#SOL_MANAGER_PATH
command=screen -mDS solmanager /usr/bin/python solmanager.py
autostart=true
autorestart=true
user=pi

[program:serial]
command = screen -mDS serial /dev/ttyUSB2 9600
autostart = true
autorestart = true
user=pi
